@import url("https://fonts.googleapis.com/css2?family=Lato&family=Open+Sans&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&family=Open+Sans&family=Oswald&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope&family=Montserrat&family=Montserrat+Alternates&family=Oswald:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
}

html, body {
  min-height: 100%;
  width: 100%;
}

.container {
  max-width: 1300px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

.header {
  background: #dee6ed;
  border-bottom: 3px #939eae solid;
  position: fixed;
  width: 100%;
}

.container__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__left_title {
  font-size: 34px;
  color: #464a4e;
  font-family: "Oswald", sans-serif;
  padding-left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.header__left_text {
  font-size: 14px;
  font-family: "Oswald", sans-serif;
}

.header__left_link {
  padding-left: 20px;
  color: #464a4e;
  font-family: "Oswald", sans-serif;
  cursor: pointer;
  font-size: 24px;
  font-weight: 300;
}

.header__title {
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  color: #464a4e;
  z-index: -1;
}

.header__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-width: 21%;
}

.header__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 10px;
}

.header__form_btn {
  outline: none;
  border: none;
  height: 38px;
  width: 45px;
  background: #fff;
  border-bottom-left-radius: 14px;
  border-top-left-radius: 14px;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 5px;
  border-right: 2px solid #ff9900;
  cursor: pointer;
}

.header__form_input {
  width: 300px;
  height: 38px;
  border: 2px solid #FFFFFF;
  outline: none;
  border-top-right-radius: 14px;
  border-bottom-right-radius: 14px;
  padding-left: 10px;
  font-family: "Oswald", sans-serif;
}

.header__right_title {
  color: #464a4e;
  font-size: 22px;
  font-family: "Oswald", sans-serif;
  font-weight: 300;
}

a.svg {
  position: relative;
  display: inline-block;
  margin-bottom: -5px;
}

a.svg:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.header__register {
  min-width: 90px;
  height: 40px;
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  border-radius: 9px;
  border: 2px solid #939eae;
  background: transparent;
  cursor: pointer;
  color: #464a4e;
  margin-left: 20px;
}

.header__register:hover {
  border: 2px solid #ff9900;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.navbar input[type="checkbox"],
.navbar .hamburger-lines, .navbar-container, .navbar {
  display: none;
}

.navbar {
  background: #dee6ed;
  border-bottom-left-radius: 46px;
  border-bottom-right-radius: 46px;
  border-bottom: 5px #939eae solid;
  position: fixed;
  width: 100%;
  color: #000;
  height: 100px;
  z-index: 12;
}

.menu-items {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu-items_item {
  padding-top: 40px;
  padding-bottom: 40px;
  max-width: 450px;
  text-align: center;
  background: #E4ECF2;
  position: relative;
  -webkit-transition: color .5s ease-in-out, -webkit-box-shadow .2s ease-in-out;
  transition: color .5s ease-in-out, -webkit-box-shadow .2s ease-in-out;
  transition: color .5s ease-in-out, box-shadow .2s ease-in-out;
  transition: color .5s ease-in-out, box-shadow .2s ease-in-out, -webkit-box-shadow .2s ease-in-out;
}

.menu-items_item:hover {
  -webkit-box-shadow: inset 450px 0 0 0 #54b3d6;
          box-shadow: inset 450px 0 0 0 #54b3d6;
}

.header__left_link.mini__about-us {
  display: block;
}

@media screen and (max-width: 1160px) {
  .container__header {
    display: none;
  }
  .navbar input[type="checkbox"],
  .navbar .hamburger-lines, .navbar-container.container, .navbar {
    display: block;
  }
  .navbar-container input[type="checkbox"] {
    position: absolute;
    display: block;
    height: 32px;
    width: 35px;
    top: 35px;
    left: 40px;
    z-index: 5;
    opacity: 0;
    cursor: pointer;
  }
  .navbar-container .hamburger-lines {
    display: block;
    height: 23px;
    width: 35px;
    position: absolute;
    top: 35px;
    left: 40px;
    z-index: 2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .navbar-container .hamburger-lines .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: #333;
  }
  .navbar-container .hamburger-lines .line1 {
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
    -webkit-transition: -webkit-transform 0.4s ease-in-out;
    transition: -webkit-transform 0.4s ease-in-out;
    transition: transform 0.4s ease-in-out;
    transition: transform 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
  }
  .navbar-container .hamburger-lines .line2 {
    -webkit-transition: -webkit-transform 0.2s ease-in-out;
    transition: -webkit-transform 0.2s ease-in-out;
    transition: transform 0.2s ease-in-out;
    transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
  }
  .navbar-container .hamburger-lines .line3 {
    -webkit-transform-origin: 0% 100%;
            transform-origin: 0% 100%;
    -webkit-transition: -webkit-transform 0.4s ease-in-out;
    transition: -webkit-transform 0.4s ease-in-out;
    transition: transform 0.4s ease-in-out;
    transition: transform 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
  }
  .navbar .menu-items {
    padding-top: 100px;
    background: #fff;
    height: 100vh;
    max-width: 450px;
    -webkit-transform: translate(-150%);
            transform: translate(-150%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: -40px;
    -webkit-transition: -webkit-transform 0.5s ease-in-out;
    transition: -webkit-transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
    -webkit-box-shadow: 5px 0px 10px 0px #aaa;
            box-shadow: 5px 0px 10px 0px #aaa;
  }
  .navbar .menu-items li {
    font-size: 1.3rem;
    font-weight: 500;
  }
  .navbar-container input[type="checkbox"]:checked ~ .menu-items {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
    -webkit-transform: rotate(35deg);
            transform: rotate(35deg);
  }
  .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
  .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
    -webkit-transform: rotate(-35deg);
            transform: rotate(-35deg);
  }
  .header__form {
    max-width: 400px;
    margin-left: 10%;
    margin-right: 15px;
  }
  .header__title {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 30%;
    right: 0;
  }
  .header__title.mini__homepage {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 30%;
    right: 0;
  }
  .header__right_title.mini__title {
    margin-bottom: 10px;
  }
  .header__left {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 80%;
    right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header__left_link {
    display: none;
  }
  .header__left_title {
    padding: 5px;
  }
}

@media screen and (max-width: 1000px) {
  .header__left {
    left: 78%;
  }
}

@media screen and (max-width: 900px) {
  .header__left {
    left: 75%;
  }
}

@media screen and (max-width: 810px) {
  .header__left {
    left: 72%;
  }
}

@media screen and (max-width: 700px) {
  .header__left {
    left: 70%;
  }
}

@media screen and (max-width: 650px) {
  .header__left {
    left: 65%;
    z-index: -1;
  }
  .header__title {
    left: 23%;
  }
}

@media screen and (max-width: 560px) {
  .header__left {
    left: 62%;
  }
  .header__title {
    left: 18%;
  }
}

@media screen and (max-width: 515px) {
  .header__title {
    display: none;
  }
  .header__left {
    left: 55%;
  }
}

@media screen and (max-width: 410px) {
  .header__left {
    left: 52%;
  }
}

@media screen and (max-width: 380px) {
  .header__left {
    left: 47%;
  }
}

@media screen and (max-width: 345px) {
  .header__left {
    left: 41%;
  }
}

@media screen and (max-width: 320px) {
  .header__left {
    left: 38%;
  }
}

@media screen and (max-width: 295px) {
  .header__left {
    left: 33%;
  }
}

@media screen and (max-width: 274px) {
  .header__left_title {
    display: none;
  }
  .header__left {
    left: 70%;
  }
}

@media screen and (max-width: 210px) {
  .header__left {
    left: 60%;
  }
}

@media screen and (max-width: 427px) {
  .header__left > object {
    display: none;
  }
}

@media screen and (max-width: 475px) {
  a.svg.logo {
    display: none;
  }
}

@media screen and (max-width: 420px) {
  .header__right_title {
    display: none;
  }
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 100%;
}

.dropdown a:hover {
  background-color: #ddd;
}

.dropbtn {
  background: transparent;
  color: #464a4e;
  height: 85px;
  width: 85px;
  font-size: 16px;
  border-radius: 50%;
  border: 3px solid #ff9900;
  outline: none;
  cursor: pointer;
  position: relative;
  display: inline-block;
}

.dropbtn::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.dropbtn > object {
  width: 60%;
  height: 60%;
}

.dropbtn > a:hover {
  background: transparent;
}

.dropdown {
  position: relative;
  display: inline-block;
  margin-bottom: 15px;
  margin-left: 15px;
}

.dropdown-content {
  display: none;
  position: absolute;
  bottom: 60px;
  left: 60px;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: -1;
  overflow: hidden;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.show {
  display: block;
}
/*# sourceMappingURL=style.css.map */